<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <img src="assets/img/side-image.svg" alt="side-iamge">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>account_circle</mat-icon>
        <span>Técnicos</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>person</mat-icon>
        <span>Clientes</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>code</mat-icon>
        <span>GitHub</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="menu mat-elevation-z8" mat-mini-fab (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-drawer-container>
