.container {
    width: 90%;
    margin: auto;
}

button {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
}

.edit {
    color: rgb(23, 131, 161);
    margin-right: .5rem;
}

.delete {
    color: rgb(195, 40, 26);
}